<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPharma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppPharma.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom shadow-sm w-100">
            <div class="container">
                <a class="navbar-brand text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-pills"></i> WebAppPharma
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Empleado") || User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-highlight" asp-area="" asp-controller="Productos" asp-action="Index">
                                    <i class="fas fa-box"></i> Productos
                                </a>
                            </li>

                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Empleado"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="UbicacionesProductos" asp-action="Index">
                                    <i class="fas fa-map-marker-alt"></i> Ubicaciones
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Proveedores" asp-action="Index">
                                    <i class="fas fa-truck"></i> Proveedores
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Categorias" asp-action="Index">
                                    <i class="fas fa-tags"></i> Categorías
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Empleado"))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-highlight" asp-area="" asp-controller="Tareas" asp-action="Index">
                                    <i class="fas fa-tasks"></i> Tareas
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Prioridades" asp-action="Index">
                                    <i class="fas fa-exclamation-circle"></i> Prioridades
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="EstadosdeTareas" asp-action="Index">
                                    <i class="fas fa-clipboard-check"></i> Estados Tareas
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-highlight" asp-area="" asp-controller="Empleados" asp-action="Index">
                                    <i class="fas fa-users"></i> Empleados
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cargos" asp-action="Index">
                                    <i class="fas fa-briefcase"></i> Cargos
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="EstadosdeEmpleados" asp-action="Index">
                                    <i class="fas fa-user-check"></i> Estados Empleados
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row align-items-center">
                <!-- Botón alineado a la izquierda -->
                <div class="col-auto text-start">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Inicio
                    </a>
                </div>
                <div class="col text-center">
                    &copy; 2024 - WebAppPharma -
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-primary">
                        Privacy Policy
                    </a>
                </div>
                <div class="col-auto">
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

